.section-three {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-three .try__btn {
  margin-left: 23px;
}

.catalog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 35px;
  margin: 0 20px 35px;
  width: calc(100vw - 46px);
  text-transform: uppercase;
}

.slogan-sec-three {
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: start;
  width: 250px;
  margin-bottom: 40px;
  margin-left: 20px;
}

.catalog-category {
  background: linear-gradient(#fff, #fff) padding-box,
    linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%) border-box;
  border: 1px solid transparent;
  border-radius: 10px;

  height: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}

.catalog-category-img-1 {
  background: url("../pictures/bacalavr.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:transparent;
  width: 57px;
  height: 57px;
  border: none;

}

.catalog-category-img-2 {
  background: url("../pictures/palette.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:transparent;
  width: 57px;
  height: 57px;
  border: none;
}

.catalog-category-img-3 {
  background: url("../pictures/caseStudy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:transparent;
  width: 57px;
  height: 57px;
  border: none;

}

.catalog-category-img-4 {
  background: url("../pictures/balls.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color:transparent;
  width: 57px;
  height: 57px;
  border: none;
}

.catalog-category-img-5 {
  background: url("../pictures/socActive.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 57px;
  height: 57px;
  border: none;
}

.catalog-category-5 {
  grid-column: 1/3;
  width: calc(100%);
}
.category-slogan {
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 31px;
  margin-left: 23px;
}
