.reading {
  background: url("../pictures/reading.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  margin: 12px 0 0;
  width: calc(100vw - 78px);
  margin-left: 13vw;
}
.education-sub-page {
  margin-left: 22px;
}

.exit-arrow {
  background-image: url("../pictures/Arrow\ 1.png");
  background-repeat: no-repeat;
  width: 18px;
  height: 20px;
  margin-top: 45px;

}
.education-slogan{
  
    width: 156px;
    height: 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 145.4%;
    /* or 33px */
  
  
    /* главный градиент */
  
    background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 17px;
    margin-top: 22px;
}