*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noah-Regular";
  z-index: 2;
}
a{
  text-decoration: none;
  color:black;
}
@font-face {
  font-family: "Noah-Medium";
  src: url(../fonts/Noah-Medium.ttf);
}
@font-face {
  font-family: "Noah-Regular";
  src: url(../fonts/Noah-Regular.ttf);
}
button{
  text-transform: uppercase;
}
button:hover{
  cursor: pointer;
}
header{
  backdrop-filter: blur(30px);
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  min-height: 65px;
  justify-content: flex-end;
  align-items: center;
  z-index: 9;
}
.logo svg{
  max-height: 65px;
  min-width: 21px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 18px 0 13px 0;

}
.logo{
  top: 0;
  position: fixed;
  left: 21px;
}

.slogan{
  font-weight: 500;
  font-size: 6.3vw;
  line-height: 145.4%;
  text-align: start;
  word-wrap: break-word;
}
.slogan-sec-one{
  margin-top: 162px;
  margin-bottom: 8px;
  
}
.slogan-sec-one span{
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slogan-sec-one span:first-child
{
  background:  #FF640C ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.section-one{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 23px;
  width: calc(100vw - 23px);
}
.section-two{
  margin-top: 100px;
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.section-two .slogan span:nth-child(even){
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.section-two .slogan span:nth-child(odd){
  background: #FF640C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__enter-btn{
  border-radius: 10px;
  border:none;
  box-shadow: none;
  color:white;
  height: 24px;
  width: 50px;
  margin-right: 23px;
  background: linear-gradient(to right,rgba(255, 100, 12, 1),rgba(255, 80, 106, 1) 50%, rgba(127, 0, 205, 1));
  
}
.try__btn{
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  padding: 10px 13px;
  color: white;
  background: linear-gradient(to right, rgba(255, 100, 12, 1), rgba(255, 80, 106, 1) 50%, rgba(127, 0, 205, 1));
}
.rocket-boy{
  background: url("../pictures/rocket-boy.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100%;
  margin: 12px 0 0 ;
  width: calc(100vw - 23px);
  position: relative;
  z-index: 1;
  
  
}
.image-1{
  max-height: 410px;
  max-width: 410px;
  position: relative;
}


.orb {
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
  border-radius: 50%;
  z-index: 0;
}






.subMenu{
  height: 100vh;
  width: 60vw;
  padding-top: 107px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}
.cross ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.cross{
  margin-left: 23px;
  
}
.sub-list{
  display: flex;
  flex-direction: column;
  margin-left: 23px;
  gap:15px;

}
.subItem{
  display: flex;
}
.subItem:hover{
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg_blur{
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: .3;
  top: 0;
  background-color: black;
  z-index: 1;
  overflow: auto;
}


.desc{
  font-weight: 400;
    font-size: 16px;
    line-height: 145.4%;
    color: #000000;
    margin-bottom: 37px;
    max-width: 335px;
    text-align: start;
}

.ball-1{
  background: url("../pictures/Ball1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 228px;
  width: 222px;
  position: absolute;
}
.ball-2{
  background: url("../pictures/Ball2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 70px;
    height: 68px;
    position: absolute;
}
.ball-3{
  background: url("../pictures/Ball3.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 39px;
    height: 38px;
    position: absolute;
}
.section{
  position: relative;
}

