* {
  box-sizing: border-box;
}
.reg-page-3 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  column-gap: 0;
  height: 50vh;

}
.img{
  margin-bottom: 0;
}
.reg-txt{
  
    background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    position: relative;
    margin: 50px auto auto;
    
    font-weight: 500;
      font-size: 23px;
      line-height: 145.4%;
}
.ball-1 {
  background: url("../pictures/Ball1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 228px;
  width: 222px;
  position: absolute;
  padding-bottom: 100%;
  right: 0;
}

.ball-2 {
  background: url("../pictures/Ball2.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 85px;
  height: 85px;
  position: absolute;
  padding-bottom: 100%;
  bottom: -33vh;
  right: 50vw;
}

.ball-3 {
  background: url("../pictures/Ball3.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 62px;
  height: 65px;
  position: absolute;
  padding-bottom: 100%;
  top: 18vh;
  right: 15vw;
}