* {
  box-sizing: border-box;
}
.reg-page-3 {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  column-gap: 0;
  height: 50vh;

}
.reg-txt{
  
    background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: none;
    position: relative;
    margin: auto;
    font-weight: 500;
      font-size: 23px;
      line-height: 145.4%;
}