.option {
  margin-top: 46px;
  border-top: 1px solid rgba(189, 189, 189, 1);
}
.option:first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
.option-1 {
  max-width: 315px;
}

.option-2 {
  max-width: 341px;
}

.version-benef-item {
  margin-bottom: 12px;
  margin-left: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(41, 41, 41, 1);
}
.section-four .try__btn:last-child {
  margin-bottom: 93px;
}
.section-four {
  margin-top: 85px;
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.section-four .slogan {
  
    font-size: 23px;
  width: 189px;
    background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 13px;
  padding-top: 39px;
}