*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noah-Regular";
}
@font-face {
  font-family: "Noah-Medium";
  src: url(fonts/Noah-Medium.ttf);
}
@font-face {
  font-family: "Noah-Regular";
  src: url(fonts/Noah-Regular.ttf);
}
button:hover{
  cursor: pointer;
}
header{
  backdrop-filter: blur(30px);
  position: sticky;
  top: 0;
  width: 100vw;
  display: flex;
  
  justify-content: space-between;
  align-items: center;
}
.logo svg{
  max-height: 65px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 0 13px 0;
  margin-left: 21px; 
}

.slogan{
  font-weight: 500;
  font-size: 23px;
  line-height: 145.4%;
  text-align: start;
}
.slogan-sec-one{
  margin-top: 162px;
  width: 320px;
  margin-bottom: 28px;
  
}
.slogan-sec-one span{
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slogan-sec-one span:first-child
{
  background:  #FF640C ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}
.section-one{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 23px;
}
.section-two{
  margin-top: 100px;
  margin-left: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}
.section-two .slogan span:nth-child(even){
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.section-two .slogan span:nth-child(odd){
  background: #FF640C;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.header__enter-btn{
  border-radius: 10px;
  border:none;
  color:white;
  height: 24px;
  width: 50px;
  margin-right: 23px;
  background: linear-gradient(to right,rgba(255, 100, 12, 1),rgba(255, 80, 106, 1) 50%, rgba(127, 0, 205, 1));
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.try__btn{
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 13px;
  color: white;
  background: linear-gradient(to right, rgba(255, 100, 12, 1), rgba(255, 80, 106, 1) 50%, rgba(127, 0, 205, 1));
}
.rocket-boy{
  background: url("pictures/rocket-boy.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 410px;
  height: 410px;
  margin: 12px 0 0 25px;
}
.graphic{
  background: url("pictures/graphic.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 272px;
    height: 272px;
  align-self: flex-end;
  margin-bottom: 28px;
    
    
}
.sec-two__title{
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 145.4%;
    background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: flex-start;
  
}
.benefits_list{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
}
.benefits_list-item{
  margin-bottom: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(41, 41, 41, 1);
}
.section-three{
  margin-top: 100px;
}
.catalog{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 35px 35px;
  margin: 0 auto;
  width: calc(100vw - 46px);
  text-transform: uppercase;
}
.slogan-sec-three{
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: start;
    width: 250px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.catalog-category{
  background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%) border-box;
  border: 1px solid transparent;
  border-radius: 10px;
 
  height: 129px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}
.catalog-category-img-1{
  background: url("pictures/bacalavr.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 57px;
  height: 57px;
  border:none;
  
}
.catalog-category-img-2{
  background: url("pictures/palette.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 57px;
  height: 57px;
  border:none;
}
.catalog-category-img-3{
  background: url("pictures/caseStudy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 57px;
  height: 57px;
  border:none;
  
}
.catalog-category-img-4{
  background: url("pictures/balls.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 57px;
  height: 57px;
  border:none;
}
.catalog-category-img-5{
  background: url("pictures/socActive.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 57px;
    height: 57px;
    border: none;
}
.catalog-category-5{
  grid-column: 1/3;
  width: calc(100%);
}
.orb {
  background: linear-gradient(88.6deg, #FF640C 0%, #FF506A 47.3%, #7F00CD 93.16%);
  border-radius: 50%;
  z-index: 0;
}